<h1>First Page</h1>

<% arr = ["Params","Query"] %>

<%= arr[0] %>
<%= link_to "click", controller: :detail, action: :index, id: 100 %>

<%= arr[1] %>
<%= link_to "click", controller: :detail, action: :index, id: 2, name: "andy" %>