<div class="container py-lg-5">
   <div class="row">
   
        <div class="col-sm-12 col-md-6 col-lg-4 ">      
            <%= link_to detail_path("witcher3"), class: "text-decoration-none text-reset" do %>
                <div class="card mb-3 shadow">
                    <img src="/images/witcher3-01.jpeg" class="card-img-top shadow" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Wild Hunt</h4>
                        <p class="card-text mb-1 text-success">¥5588</p>
                        <p class="card-text overflow-auto" style="max-height: 70px;"><small class="text-muted">As war rages on throughout the Northern Realms, you take on the greatest contract of your life — tracking down the Child of Prophecy, a living weapon that can alter the shape of the world.</small></p>
                    </div>
                </div>
            <% end %>    
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 ">      
            <%= link_to detail_path("witcher3"), class: "text-decoration-none text-reset" do %>
                <div class="card mb-3 shadow">
                    <img src="/images/witcher3-02.jpeg" class="card-img-top shadow" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Hearts of Stone</h4>
                        <p class="card-text mb-1 text-success">¥1183</p>
                        <p class="card-text overflow-auto" style="max-height: 70px;"><small class="text-muted">As war rages on throughout the Northern Realms, you take on the greatest contract of your life — tracking down the Child of Prophecy, a living weapon that can alter the shape of the world.</small></p>
                    </div>
                </div>
            <% end %>    
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 ">      
            <%= link_to detail_path("witcher3"), class: "text-decoration-none text-reset" do %>
                <div class="card mb-3 shadow">
                    <img src="/images/witcher3-03.jpeg" class="card-img-top shadow" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Blood and Wine</h4>
                        <p class="card-text mb-1 text-success">¥2364</p>
                        <p class="card-text overflow-auto" style="max-height: 70px;"><small class="text-muted">As war rages on throughout the Northern Realms, you take on the greatest contract of your life — tracking down the Child of Prophecy, a living weapon that can alter the shape of the world.</small></p>
                    </div>
                </div>
            <% end %>    
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 ">      
            <%= link_to detail_path("witcher3"), class: "text-decoration-none text-reset" do %>
                <div class="card mb-3 shadow">
                    <img src="/images/witcher2-01.jpeg" class="card-img-top shadow" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">Assassins of Kings</h4>
                        <p class="card-text mb-1 text-success">¥2018</p>
                        <p class="card-text overflow-auto" style="max-height: 70px;"><small class="text-muted"> time of untold chaos has come. Mighty forces clash behind the scenes in a struggle for power and influence. The Northern Kingdoms mobilize for war. But armies on the march are not enough to stop a bloody conspiracy...</small></p>
                    </div>
                </div>
            <% end %>    
        </div>

    </div>
</div>

